.ts__app-start-button {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  .ts__app-start-button_circle {
    height: 200px;
    width: 200px;
    text-transform: uppercase;
    border-radius: 50%;
    border: 2px solid #20A9E7;
    line-height: 1.8;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.4em;
    padding: 10px;
    animation: animate_gradient 3s ease infinite;
  }
}

.animate-gradient {
  border: none;
  cursor: pointer;
  user-select: none;
  background: transparent !important;
  //animation: animate_gradient 5s ease infinite;

  &:hover {
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, .2);
  }

  &:disabled {
    animation: none;
    opacity: .6;
    cursor: default;
  }
}

@keyframes animate_gradient {
  0% {
    //background-position: 0 50%;
    border-color: #2beedd;
  }
  50% {
    //background-position: 100% 50%;
    border-color: #1FA5E9;
  }
  100% {
    //background-position: 0 50%;
    border-color: #2beedd;
  }
}
