.animate-gradient {
    border: none;
    border-radius: 15px;
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    background: linear-gradient(-90deg, #1125e7, #23bdec);
    background-size: 400% 400%;
    animation: animate_gradient 5s ease infinite;
}

.animate-gradient-medium {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    padding: 0 20px;
}

.animate-gradient-small {
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding: 0 15px;
}

.animate-gradient:hover {
    animation: none;
}

.animate-gradient:disabled,
.animate-gradient[disabled] {
    animation: none;
    color: #222;
    opacity: .4;
    cursor: default;
}

@keyframes animate_gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
