.ts__app-streams {
    display: flex;
    justify-content: center;
}

.ts__app-streams-item {
    max-width: 250px;
    min-width: 200px;
    margin: 0 10px 15px;
}

.ts__app-streams video {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background: #ccc;
}

@media (max-width: 500px) {
    .ts__app-streams {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .ts__app-streams-item {
        max-width: 100%;
        margin: 0 0 15px;
    }
}
