.ts__app-streams {
    display: flex;
    justify-content: center;
}

.ts__app-streams-hidden {
    /*display: none;*/
    /*overflow: hidden;*/
}

.ts__app-streams-item {
    max-width: 300px;
    min-width: 200px;
    margin: 0 10px 30px;
}

.ts__app-streams-item div {
    text-align: center;
    margin-bottom: 4px;
}

.ts__app_theme-dark .ts__app-streams-item {
    color: #eee;
}

.ts__app_theme-light .ts__app-streams-item {
    color: #333;
}

.ts__app-streams video {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background: #ccc;
}

@media (max-width: 500px) {
    .ts__app-streams {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .ts__app-streams-item {
        max-width: 100%;
        margin: 0 0 30px;
    }
}
