.ts__app {
    padding: 0 20px 20px;
}

.ts__app-debug {
    background: red;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.ts__app-title {
    font-size: 2em;
    text-align: center;
    color: #eee;
    margin-top: 20px;
}

.ts__app-loader {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.ts__app-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ts__app-controls button {
    margin: 0 5px;
}

.ts__app-controls-not-device {
    color: gold;
    text-align: center;
}

.ts__app-devices {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 20px;
}

.ts__app-devices-item {
    padding: 5px 15px;
    font-size: 1.2rem;
    cursor: default;
}

.ts__app-devices__error {
    color: tomato;
    opacity: .8;
}

.ts__app-devices__success {
    color: lime;
    opacity: .8;
}

.ts__app-devices-item i {
    margin-right: 5px;
}

@media (max-width: 500px) {
    .ts__app {
        padding: 0 10px 20px;
    }

    .ts__app-debug {
        top: 10px;
        left: 10px;
    }
}
